<h2 style="text-align:center">Html and css</h2>
<div style="position: relative; width: 90vw;">

    <div class="d1">
        <div>
            <div class="rectangle-4"></div>
            <div class="rectangle-5-copy-2"></div>  
            <div class="rectangle-5-copy"></div> 
            <div class="rectangle-5"></div>
            <div class="m">M</div>
        </div>
        <div class="home-features-post-t">Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Features&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Post Types&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Contact
        </div>
        <div style="position: relative; right: 55px;">
            <div class="fill-2"></div>
            <div class="rectangle-3"></div>

            <div class="fill-1"></div>
            <div class="fill-4"></div>

            <div class="rectangle-2-copy-2"></div>
            <div class="rectangle-2-copy"></div>
            <div class="rectangle-2"></div>
        </div>
    </div>
    
    <div style="display: flex; justify-content: center; margin-top: 257px; padding-left: 95px;">
        <div class="meet-the-team">Meet the team</div>
    </div>

    <div class="d2">
        <img src="assets/empty.png" class="bench-accounting-49909">
    </div>

    <div class="profile">
        <div>
            <img src="assets/empty.png" class="picture1">
        </div>
        <div style="width: 540px;">
            <div class="doe">Jenny Doe</div>        
            <div class="one-morning-when-gr">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</div>
            <div style="margin-left: 49px;">
                <img src="assets/empty.png" class="f1">
                <img src="assets/empty.png" class="at1">
                <img src="assets/empty.png" class="b1">
                <img src="assets/empty.png" class="c1">
            </div>
        </div>   
    </div>

    <div class="profile2">
        <div style="width: 540px;">
            <div class="j-doe">John Doe</div>
            <div class="one-morning-when-gr1">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</div>
            <div>
                    <img src="assets/empty.png" class="f1">
                    <img src="assets/empty.png" class="at1">
                    <img src="assets/empty.png" class="b1">
                    <img src="assets/empty.png" class="c1">
            </div>
        </div>
        <div>
            <img src="assets/empty.png" class="picture02">
        </div>
    </div>

    <div class="profile33">
        <div class="profile3">
            <div>
                <img src="assets/empty.png" class="picture01">
            </div>
            <div style="width: 540px;">
                <div class="jenny-doe-copy">Jenny Doe</div>
                <div class="one-morning-when-gr-copy2">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</div>
                <div style="margin-left: 49px;">
                    <img src="assets/empty.png" class="f2">
                    <img src="assets/empty.png" class="at2">
                    <img src="assets/empty.png" class="b2">
                    <img src="assets/empty.png" class="c2">
                </div>
            </div>
        </div>
    </div>

    <div class="d3">
        <div style="margin-left: 68.5px; margin-right: 68.5px; margin-top: 50px;">    
            <div class="learn">1 Learn</div>
            <div class="one-day-gregor-sams">One day, Gregor Samsa, a traveling salesman, wakes up to find himself transformed into a giant insect (the most common translation of the German description ungeheur Ungeziefer, literally "monstrous vermin").</div>
            <div class="rectangle-7-copy-6">
                <div class="view-more-copy">VIEW MORE</div>
            </div>
        </div>
        <div style="margin-left: 68.5px; margin-right: 68.5px; margin-top: 50px;">
            <div class="iterate">2 Iterate</div>
            <div class="one-day-gregor-sams">One day, Gregor Samsa, a traveling salesman, wakes up to find himself transformed into a giant insect (the most common translation of the German description ungeheur Ungeziefer, literally "monstrous vermin").</div>
            <div class="rectangle-7-copy-6">
                <div class="view-more-copy">VIEW MORE</div>
            </div>
        </div>
        <div style="margin-left: 68.5px; margin-right: 68.5px; margin-top: 50px;">
            <div class="launch">3 Launch</div>
            <div class="one-day-gregor-sams">One day, Gregor Samsa, a traveling salesman, wakes up to find himself transformed into a giant insect (the most common translation of the German description ungeheur Ungeziefer, literally "monstrous vermin").</div>   
            <div class="rectangle-7-copy-6">
                <div class="view-more-copy">VIEW MORE</div>
            </div>
        </div>    
    </div>

</div>
